@media(max-width: 500px){
	main.content{
		width: 350px;
        background-color: #FFFFFF;
	}
    main.content{
        background-color: #FFFFFF;
        width: 350px;
		margin: 10px;
    }
	div.my-informations img{
        width: 150px;
        height: 150px;
	}
}